/* You can add global styles to this file, and also import other style files */
:root {
  --mdc-theme-primary: #4fc3d7;
  --mdc-theme-secondary: #43a5d1;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
