<!-- Toolbar fuera del sidenav-container -->
<mat-toolbar>
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/logo.png" alt="Logo Ingnovac" class="logo" />
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- SIDEBAR -->
  <mat-sidenav
    #sidenav
    mode="side"
    opened="true"
    class="sidenav"
    [class.collapsed]="isCollapsed"
    [class.opened]="!isCollapsed"
  >
    <!-- NAVIGATION MENU -->
    <nav class="sidenav-nav">
      <!-- Dashboard -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel>
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon class="nav-icon"
              [matTooltip]="isCollapsed ? 'Dashboard' : ''"
                matTooltipPosition="right"
              >dashboard</mat-icon>
              <span class="nav-text" *ngIf="!isCollapsed">Dashboard</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('')">
              <span>Dashboard report</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('usuarios/listar')">
              <span>Listar usuarios</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Usuarios -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel>
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon class="nav-icon"
              [matTooltip]="isCollapsed ? 'Usuarios' : ''"
                matTooltipPosition="right"
              >people</mat-icon>
              <span class="nav-text" *ngIf="!isCollapsed">Usuarios</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('create')">
              <span>Crear usuario</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('user/list')">
              <span>Listar usuarios</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Órdenes de trabajo -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel [expanded]="activeRoute === 'Ordenes_de_trabajo'">
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon class="nav-icon"
                [matTooltip]="isCollapsed ? 'Órdenes de trabajo' : ''"
                matTooltipPosition="right"
              >assignment</mat-icon>
              <span class="nav-text" *ngIf="!isCollapsed"
                >Ordenes de trabajo</span
              >
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('usuarios/crear')">
              <span>Crear usuario</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('usuarios/listar')">
              <span>Listar usuarios</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Empresas -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel [expanded]="activeRoute === 'empresas'">
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon
                class="nav-icon"
                [matTooltip]="isCollapsed ? 'Empresas' : ''"
                matTooltipPosition="right"
                >business</mat-icon
              >
              <span class="nav-text" *ngIf="!isCollapsed">Empresas</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('city/list')">
              <span>ciudades</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('city/list')">
              <span>Empresas</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Propietarios -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel [expanded]="activeRoute === 'propietarios'">
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon
                class="nav-icon"
                [matTooltip]="isCollapsed ? 'Propietarios' : ''"
                matTooltipPosition="right"
              >
                person
              </mat-icon>
              <span class="nav-text" *ngIf="!isCollapsed">Propietarios</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('usuarios/crear')">
              <span>Crear Propietario</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('usuarios/listar')">
              <span>Listar Propietarios</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Vehículos -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel [expanded]="activeRoute === 'vehiculos'">
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon
                class="nav-icon"
                [matTooltip]="isCollapsed ? 'Vehículos' : ''"
                matTooltipPosition="right"
              >
                directions_bus
              </mat-icon>
              <span class="nav-text" *ngIf="!isCollapsed">Propietarios</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('vehiculos/crear')">
              <span>Crear Vehículos</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('vehiculos/listar')">
              <span>Listar Vehículos</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Inventarios -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel [expanded]="activeRoute === 'inventarios'">
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon
                class="nav-icon"
                [matTooltip]="isCollapsed ? 'Inventarios' : ''"
                matTooltipPosition="right"
              >
                inventory
              </mat-icon>
              <span class="nav-text" *ngIf="!isCollapsed">Inventarios</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('vehiculos/crear')">
              <span>Crear Vehículos</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('vehiculos/listar')">
              <span>Listar Vehículos</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Insumos -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel [expanded]="activeRoute === 'Insumos'">
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon
                class="nav-icon"
                [matTooltip]="isCollapsed ? 'Insumos' : ''"
                matTooltipPosition="right"
              >
                build
              </mat-icon>
              <span class="nav-text" *ngIf="!isCollapsed">Insumos</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('vehiculos/crear')">
              <span>Crear Vehículos</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('vehiculos/listar')">
              <span>Listar Vehículos</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Ubicaciones -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel [expanded]="activeRoute === 'Ubicaciones'">
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon
                class="nav-icon"
                [matTooltip]="isCollapsed ? 'Ubicaciones' : ''"
                matTooltipPosition="right"
              >
                place
              </mat-icon>
              <span class="nav-text" *ngIf="!isCollapsed">Ubicaciones</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('vehiculos/crear')">
              <span>Crear Vehículos</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('vehiculos/listar')">
              <span>Listar Vehículos</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Reportes -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel [expanded]="activeRoute === 'Reportes'">
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon
                class="nav-icon"
                [matTooltip]="isCollapsed ? 'Reportes' : ''"
                matTooltipPosition="right"
              >
                assessment
              </mat-icon>
              <span class="nav-text" *ngIf="!isCollapsed">Reportes</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('vehiculos/crear')">
              <span>Crear Vehículos</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('vehiculos/listar')">
              <span>Listar Vehículos</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Parámetros del sistema -->
      <mat-accordion class="nav-accordion">
        <mat-expansion-panel [expanded]="activeRoute === 'parametros'">
          <mat-expansion-panel-header
            (click)="expandSidenavIfCollapsed($event)"
          >
            <mat-panel-title>
              <mat-icon
                class="nav-icon"
                [matTooltip]="isCollapsed ? 'Parámetros' : ''"
                matTooltipPosition="right"
              >
                settings
              </mat-icon>
              <span class="nav-text" *ngIf="!isCollapsed"
                >Parámetros del sistema</span
              >
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list *ngIf="!isCollapsed">
            <mat-list-item (click)="navigate('vehiculos/crear')">
              <span>Crear Vehículos</span>
            </mat-list-item>
            <mat-list-item (click)="navigate('vehiculos/listar')">
              <span>Listar Vehículos</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </nav>
  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content
    class="main-content"
    [class.collapsed]="isCollapsed"
    [class.opened]="!isCollapsed"
  >
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
